/* inizio reset */
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine reset */

/* inizio tipografia */
body{
  font-family: 'Montserrat', sans-serif;
  color: #32495b;
  font-size: 1.5rem;
  font-weight: 500;
}
h1{
  font-size: 4.5rem;
  font-weight: 700;
}
h2{
  font-size: 3.5rem;
  font-weight: 700;
}
h3{
  font-size: 2.5rem;
}
h4{
  font-size: 1.8rem;
}
p{
  line-height: 3rem;
}
.fa-globe-europe, .fa-chevron-down{
  font-size: 1.6rem;
}
.note{
  font-size: 1.2rem;
}
/* fine tipografia */

/* inizio regole generali */
.container{
  width: 1280px;
  margin: auto;
}
.col{
  float: left;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
a{
  text-decoration: none;
}
/* li{
  list-style: none;
} */
.btn-orange{
  padding: 2rem 3.5rem;
  background-color: #fe775a;
  color: white;
  border: 0.1rem solid #fe775a;
  border-radius: 0.5rem;
}
/* fine regole generali */

/* inizio header */
  /* inizio nav */
    /* inizio uppernav */
    header nav .uppernav{
      background-color: #f4f9fd;
      height: 8rem;
      line-height: 8rem;
      border-bottom: 0.1rem solid #32495b;
    }
    header nav .container .left-nav{
      width: 50%;
    }
    header nav .uppernav .container .left-nav a{
      color: #32495b;
      margin-left: 2rem;
      padding-left: 2rem;
      border-left: 0.2rem solid #32495b;
    }
    header nav .container .right-nav{
      width: 50%;
      text-align: right;
    }
    header nav .uppernav .container .right-nav .fa-search{
      color: #00a4bd;
      font-size: 1.4rem;
    }
    header nav .uppernav .container .right-nav .btn-white{
      padding: 1rem;
      background-color: white;
      color: #fe775a;
      border: 0.1rem solid #fe775a;
      border-radius: 0.5rem;
    }
    header nav .uppernav .container .right-nav .btn-orange{
      padding: 1rem;
    }
    header nav .uppernav .container .right-nav .btn-white,
    header nav .uppernav .container .right-nav .btn-orange{
      margin-left: 2rem;
    }
    /* fine uppernav */
    /* inizio lower nav */
    header nav .lowernav{
      height: 8rem;
      line-height: 8rem;
    }
    header nav .lowernav .logo{
      vertical-align: middle;
    }
    header nav .lowernav .right-nav .menu li {
      display: inline-block;
      margin-left: 2rem;
      padding-right: 1rem;
    }
    header nav .lowernav .right-nav .menu li a{
      color: #32495b;
    }
    /* fine lower nav */
  /* fine nav */
  /* inizio jumbotron */
  .jumbotron{
    position: relative;
    background-color: #fff4ee;
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 73vh;
  }
  header .jumbotron .container h1{
    width: 50%;
    text-align: left;
    padding-top: 8rem;
  }
  header .jumbotron .container p{
    width: 48%;
    text-align: left;
    padding: 3.5rem 0 5rem 0;
  }
  header .jumbotron .jumbotron-bar{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 7.9rem;
    background-color: #afebe4;
    border-bottom: 0.3rem solid #33475b;
    border-top: 0.3rem solid #33475b;
  }
  /* fine jumbotron */
/* fine header */

/* inizio main */
  /* inizio softwares intro */
  main .softwares{
    background-color: #f4f9fd;
    padding: 6rem 0;
  }
  main .softwares .section-intro{
    text-align: center;
  }
  main .softwares .section-intro img{
    height: 20rem;
  }
  main .softwares .section-intro p{
    padding: 3rem 0;
    width: 45%;
    margin: auto;
  }
  main .softwares .box{
    background-color: white;
    padding: 8rem 10rem;
    box-shadow: 0 0 0.4rem 0.2rem #e6ecf1;
    border-radius: 0.8rem;
    margin-bottom: 5rem;
  }
  main .softwares .container .box .inner-left{
    width: 20%;
    text-align: center;
  }
  main .softwares .container .box .illustration{
    height: 11rem;
    margin-bottom: 3.5rem;
  }
  main .softwares .container .box .inner-right{
    width: 70%;
    padding-left: 10rem;
  }
  main .softwares .container .box .inner-right p{
    padding: 3rem 0rem 3rem;
  }
  main .softwares .container .box .inner-right h4{
    position: relative;
  }
  main .softwares .container .box .inner-right h4:after{
    content: "";
    width: 45rem;
    height: 0.2rem;
    background-color: #32495b;
    position: absolute;
    bottom: 1rem;
    left: 25rem;
  }
  main .softwares .container .box .features{
  list-style-image: url("../img/check.png");
  list-style-position: inside;
  }
  main .softwares .container .box .inner-right .features li{
    float: left;
    padding-right: 2.5rem;
    padding-top: 2rem;
  }
  main .softwares .mini{
    width: 30%;
    padding: 4rem 3.5rem;
    margin-bottom: -4rem;
    text-align: center;
  }
  main .softwares #center-mini-box{
    margin: 0 5%;
  }
  main .softwares .mini p{
    padding: 2.5rem 0 5rem 0;
  }
  main .softwares .mini h4{
    padding: 3rem 0;
  }
  main .softwares .mini ul{
    text-align: left;
    margin-bottom: 7rem;
  }
  main .softwares .mini .btn-orange{
    margin-bottom: 5rem;
  }
  /* fine softwares intro */

  /* inizio hubspot numbers */
  main .hubspot-numbers{
    padding: 1rem 0 10rem;
    text-align: center;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,148,157,1) 0%, rgba(0,188,165,1) 100%);
  }
  main .hubspot-numbers .intro-hubspot-numbers{
    padding: 5rem 0;
  }
  main .hubspot-numbers .intro-hubspot-numbers p{
    padding: 2rem 0 0 0;
  }
  main .hubspot-numbers .container .square-boxes-container .square-box{
    width: 25%;
    padding: 2rem 2rem;
    float: left;
    border-right: 0.1rem solid;
    border-bottom: 0.1rem solid;
  }
  main .hubspot-numbers .container .square-boxes-container .square-box:nth-child(4n-8){
    border-right: none;
    border-bottom: 0.1rem solid;
  }
  main .hubspot-numbers .container .square-boxes-container .square-box:nth-child(n+5){
    border-bottom: none;
  }
  main .hubspot-numbers .container .square-boxes-container .square-box h2{
    padding: 1rem 0;
  }
  main .hubspot-numbers .container .square-boxes-container .square-box h2::after{
    content: "+";
    font-weight: 400;
    font-size: 3.5rem;
  }
  /* fine hubspot numbers */
/* fine main */
